* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #002b6e;
  --color-accent: #2368ff;
  --bg-elevated: #f5f5f5;

  --text-heading: #002b6e;
  --text-body: #3a3a3a;
  --text-secondary: #ffffff;

  --font-montserrat: "Montserrat", sans-serif;

  --font-xl: 2.375rem;
  --font-lg: 2rem;
  --font-md: 1.5rem;
  --font-sm: 1.125rem;
  --font-base: 1rem;
  --font-xs: 0.75rem;

  --layout-container: 64rem;
}
